# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Whisper model cache (se descarga automáticamente, no subir)
*.pt

# Logs y temporales
*.log
*.tmp

# Audio temporal (si llegas a grabar wav de prueba)
*.wav

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
